@font-face {
    font-family: 'SiyamRupali';
    src: url('/Content/fonts/SiyamRupali/Siyamrupali.eot'); /* IE9 Compat Modes */
    src: url('/Content/fonts/SiyamRupali/Siyamrupali.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/Content/fonts/SiyamRupali/Siyamrupali.otf') format('opentype'), /* Open Type Font */
    url('/Content/fonts/SiyamRupali/Siyamrupali.svg') format('svg'), /* Legacy iOS */
    url('/Content/fonts/SiyamRupali/Siyamrupali.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/Content/fonts/SiyamRupali/Siyamrupali.woff') format('woff'), /* Modern Browsers */
    url('/Content/fonts/SiyamRupali/Siyamrupali.woff2') format('woff2'); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

.container {
    max-width: 1140px;
}

.uuc-center-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.uu-dropdown {
    overflow-y: auto !important;
}

.validation-summary-errors,
.field-validation-error span {
    color: red !important;
}
.field-validation-error {
    color: red !important;
}
.form-group label {
    margin-left: 0px;
}

body.uu-register-page.uu-congratulations h4.uu-login-form-sub-title {
    margin-left: 0px;
    text-align: center;
}

.routine-lists .form-control {
    margin-bottom: 5px;
}

div.uu-login-form-wrapper .form-group ul > li > .list-details {
    min-height: 50px;
}

    div.uu-login-form-wrapper .form-group ul > li > .list-details > div:nth-child(1) {
        flex-basis: 60%;
    }

    div.uu-login-form-wrapper .form-group ul > li > .list-details > div:nth-child(2) {
        flex-basis: 40%;
    }

.total-amount {
    display: inline-block;
    min-width: 200px;
    border-radius: 30px;
    padding: 8px 10px;
    font-size: 16px;
    background-color: #E20F6D;
    color: #fff;
}

body.uu-course-page span.total-amount {
    width: 100%;
}

footer {
    /*background-color: #532355;*/
    /*background-color: #86018c;*/
}

.uu-button-style-6 {
    background: #E20F6D !important;
}

.uu-button-style-7 {
    background: #8f949a !important;
}

    .uu-button-style-6:hover, .uu-button-style-7:hover {
        background: linear-gradient(to right, #302C88, #1B2131) !important;
    }

.uu-profile-email {
    font-size: 14px !important;
    margin-top: 5px !important;
}

.form-group-text-left {
    text-align: left !important;
}

.anchor-underline {
    text-decoration: underline !important;
}
/*Mobile Menu*/
#wrapper {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: none;
    float: left;
    margin-left: 0px;
}

.circle {
    width: 20px;
    height: 30px;
    position: relative;
    margin-top: 0px;
    margin-right: 10px;
}

.line {
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 8px;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.8s;
}

.top {
    top: 18%;
}

.middle {
    top: 42%;
}

.bottom {
    top: 65%;
}

.icon.close .top {
    transform: rotate(45deg);
    top: 48%;
}

.icon.close .middle, .icon.close .bottom {
    transform: rotate(-45deg);
    top: 48%;
}

a.uu-couse-item {
    padding: 10px 15px !important;
}

ul.uu-main-menu ul {
    width: auto;
    white-space: nowrap;
}

/**New Login Page design**/
div.custom-login-form .form-group {
    margin-bottom: 0px;
}
div.custom-login-form .uu-other-links {
    margin-top: 5px;
    padding-left: 12px;
}
div.custom-login-form .uu-other-links p {
    text-align: left;
}
div.custom-login-form .uu-other-links-2 {
    margin-top: 35px;
}
div.custom-login-form .uu-other-links-2 p {
    text-align: center;
}
div.custom-login-form .uu-other-links-2 p a {
    color: #322D8F;
    font-weight:bold;
}
div.custom-login-form .uu-other-links-2 p a:hover {
    color: #E00E4C;
}
body.uu-login-page div.custom-login-form.uu-login-form div.uu-form-action {
    margin-top: 20px;
}
.new-password-resend a{
    color: #F0532D;
}
.mobileRegistration {
    display: none;
}

.desktopRegistration {
    display: block;
}
/**New Login Page design**/

/*Mobile Menu*/
@media (max-width: 992px) {
    div .uu-mobile-menu {
        overflow-y: auto !important;
    }

    body.uu-register-page.uu-congratulations h4.uu-login-form-sub-title {
        margin-left: 0px;
    }

    header {
        height: 25px;
    }

    #wrapper {
        display: block;
        margin-left: 0px;
        padding-left: 0px;
    }
    div.custom-login-form .uu-other-links-2 {
        margin-top: 25px;
    }
    .mobileRegistration{
        display:block;
    }
    .desktopRegistration {
        display: none;
    }
}

@media (min-width: 768px) {
    body.uu-register-page.uu-congratulations h4.uu-login-form-sub-title {
        margin-left: 0px;
    }
}

@media (max-width: 767px) {
    body.uu-register-page.uu-congratulations h4.uu-login-form-sub-title {
        margin-left: 0px;
    }

    header {
        height: 60px;
    }
}

@media (max-width: 480px) {
    .uu-button-style-7 {
        margin-bottom: 10px;
    }

    header {
        height: 40px;
    }
}
