@font-face {
	font-family: Museo;
	src: url(museoslab700.woff);
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #121212;
	color: #bdbdbd;
}

img {
	filter: invert(1);
}

.topRightPane {
	display: flex;
	justify-content: flex-end;
	transition: 0.5s;
}

.topRightPane>div {
	margin: 8px;
}

.profileSection {
	display: flex;
	align-items: center;
	flex-flow: wrap column;
	justify-content: center;
	transition: 0.5s;
}

.fas {
	font-size: 24px;
	transition: 0.5s;
}

.socialSection {
	display: flex;
	margin-top: -24px;
	justify-content: center;
	transition: 0.3s;
}

.socialSection>i {
	margin: 8px;
	font-size: 34px;
}

.navbar {
	display: flex;
	position: fixed;
	align-items: flex-start;
	flex-flow: nowrap column;
	right: 12px;
	left: 12px;
	bottom: 12px;
	border-radius: 10px;
	background-color: #262626;
	color: #bdbdbd;
	height: 32px;
	transition: 0.3s;
}

.handle {
	display: flex;
	margin-top: 3px;
	justify-content: center;
	width: 100%;
}


.navbarContent {
	margin-top: 12px;
	margin-right: 12px;
	margin-left: 12px;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}

.navbarContent a {
	border: 1px solid #bdbdbd;
	border-radius: 100px;
	text-decoration: none;
	padding: 2px 8px 2px 8px;
	margin: 6px 6px 0px 0px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: #bdbdbd;
	display: block;
	transition: 0.3s;
}

.light-mode {
	background-color: white;
	color: #121212;
}

.light-mode img {
	filter: invert(0);
}
.light-mode .navbar a {
	border: 1px solid #121212;
	color: #121212;
}

.light-mode .navbar {
	background-color: #bdbdbd;
	color: #121212;
}