:root {
    --colorDark: #121212	;
    --colorDarkElement: #bdbdbd;
    --colorDarkMenu: #202020;
}

@font-face {
	font-family: Museo;
	src: url(museoslab700.woff);
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: var(--colorDark);
	color: var(--colorDarkElement);
}

a {
	text-decoration: none;
}

.dp {
	filter: invert(1);
}

.topRightPane {
	display: flex;
	justify-content: flex-end;
}

.topRightPane>div {
	margin: 8px;
}

.mainSection {
	display: flex;
	align-items: center;
	flex-flow: wrap column;
	justify-content: center;
	transition: 0.5s;
}

.fas, .fab {
	font-size: 24px;
	transition: 0.3s;
	cursor: pointer;
}

.socialSection {
	display: flex;
	margin-top: -24px;
	justify-content: center;
}

.socialSection>i {
	margin: 8px;
	font-size: 34px;
}

.navbar {
	display: flex;
	position: fixed;
	align-items: flex-start;
	flex-flow: nowrap column;
	right: 12px;
	left: 12px;
	bottom: 12px;
	border-radius: 10px;
	background-color: var(--colorDarkMenu);
	color: var(--colorDarkElement);
	height: 32px;
	transition: 0.3s;
}

.handle {
	display: flex;
	margin-top: 3px;
	justify-content: center;
	width: 100%;
}


.navbarContent {
	margin: 12px;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}

.navbarContent>div {
	border-radius: 100px;
	padding: 6px 12px 6px 12px;
	margin: 6px 6px 0px 0px;
	font-size: 16px;
	background-color: #303030;
	font-family: 'Roboto', sans-serif;
	color: var(--colorDarkElement);
	transition: 0.3s;
}

.charukola {
	font-family: 'Noto Sans Bengali', sans-serif;
}

.light-mode {
	background-color: white;
	color: var(--colorDark);
}

.light-mode .dp {
	filter: invert(0);
}


.light-mode .navbar {
	background-color: #bdbdbd;
	color: #121212;
}

.light-mode .navbarContent a {
	border: 1px solid #121212;
	color: #121212;
}