body {
  font-family: 'PT Serif', serif;
  background-color: black;
  color: white;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: MediumSeaGreen;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  margin-top: 14px;
  margin-left: 0;
}

.revealbtn {
	font-size:30px;
	position: absolute;
	right: 16px;
	top: 16px;
	cursor:pointer;
	font-family: 'Gothic A1', sans-serif;
}
.revealbtn:hover {
  color: MediumSeaGreen;
}
div.lheight {
	line-height: 40%;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.fab {
  font-size: 32px;
	width: 42px;
  text-decoration: none;
	transition: 0.5s;
  color: white;

}
.fab:hover {
    color: MediumSeaGreen;
}
.fa-facebook-f {
	margin-top: 3px;
	margin-right: -6px;
	font-size: 26px;
}

textarea { 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
