:root {
	--colorDark: #121212;
	--colorDarkElement: #bdbdbd;
	--colorDarkMenu: #202020;

	--colorLight: #ffffff;
	--colorLightElement: #121212;
	--colorLightMenu: #e0e0e0;
}

/* Elements */
body {
	background: var(--colorDark);
	color: var(--colorDarkElement);
}

a:link {
	color: var(--colorDarkElement);
}

a:visited {
	color: var(--colorDarkElement);
}

a:hover {
	color: dodgerblue;
}

a:active {
	color: dodgerblue;
}

/* Light mode */
.light-mode {
	background-color: var(--colorLight);
	color: var(--colorLightElement);
}

.light-mode a:link {
	color: var(--colorLightElement);
}

.light-mode a:visited {
	color: var(--colorLightElement);
}

.light-mode a:hover {
	color: dodgerblue;
}

.light-mode a:active {
	color: dodgerblue;
}

.light-mode .dp {
	filter: invert(1);
}

.light-mode .nav {
	background-color: var(--colorLightMenu);
	color: var(--colorLightElement);
}

.light-mode .navbarContent>div {
	background-color: var(--colorLight);
}

.light-mode .card {
	background-color: var(--colorLightMenu);
	color: var(--colorLightElement);
}

/* Classes */
.topBar {
    display: flex;
	justify-content: space-between;
}

.topBar>div {
	margin: 8px;
}

.topBar>div:only-child {
	margin: 8px;
	margin-left: auto;
}


.container {
	display: flex;
	flex-flow: wrap column;
	align-items: center;
	width: auto;
	transition: 0.3s;
}

@media only screen and (min-width: 1200px) {

	/* For desktop: */
	/* chaged it to calc(84% - 300px) on 10 october 2023 */
	.container {
		width: calc(84% - 300px);
	}
}

.mainSection {
	display: flex;
	align-items: center;
	flex-flow: wrap column;
	justify-content: center;
	transition: 0.5s;
	margin-top: auto;
}

@media only screen and (min-width: 1200px) {

	/* For desktop: */
	.mainSection {
		margin-top: 48px;
	}
}

.dp {
	filter: invert(0);
	transition: 0.5s;
}

.dpContainer {
	height: 256px;
	width: 256px;
	/* border-radius: 100%; */
	overflow: hidden;
}

.dp-anim {
	animation: tide 0.8s infinite linear;
}

@keyframes tide {
	from {
		margin-left: -85.3333px;
		margin-top: -85.3333px;
	}

	to {
		margin-left: 0px;
		margin-top: 0px;
	}
}

.fas,
.fab {
	font-size: 24px;
	transition: 0.3s;
}

.socialSection {
	display: flex;
	/* margin-top: -24px; */
	justify-content: center;
}

.weblogSection {
	display: flex;
	font-size: 5rem;
	justify-content: center;
	font-family: monospace;
}

.letter {
	display: inline-block;
	transition: all 0.3s ease;
}

.socialSection>i {
	margin: 8px;
	font-size: 34px;
}

.charukola {
	font-family: "Noto Sans Bengali", sans-serif;
}