:root {
	--colorDark: #121212;
	--colorDarkElement: #bdbdbd;
	--colorDarkMenu: #202020;

	--colorLight: #ffffff;
	--colorLightElement: #121212;
	--colorLightMenu: #e0e0e0;
}

/* Elements */
body {
	background: var(--colorDark);
	color: var(--colorDarkElement);
}

/* Light mode */
.light-mode {
	background-color: var(--colorLight);
	color: var(--colorLightElement);
}

.light-mode .dp {
	filter: invert(0);
}

.light-mode .nav {
	background-color: var(--colorLightMenu);
	color: var(--colorLightElement);
}

.light-mode .navbarContent>div {
	background-color: var(--colorLight);
}

/* Classes */
.topBar {
	display: flex;
	justify-content: flex-end;
}

.topBar>div {
	margin: 8px;
}

.container {
	display: flex;
	flex-flow: wrap column;
	align-items: center;
	width: auto;
	transition: 0.3s;
}

@media only screen and (min-width: 1200px) {
	/* For desktop: */
	/* chaged it to calc(84% - 300px) on 10 october 2023 */
	.container {
		width: calc(84% - 300px);
	}
}

.mainSection {
	display: flex;
	align-items: center;
	flex-flow: wrap column;
	justify-content: center;
	transition: 0.5s;
	margin-top: auto;
}

@media only screen and (min-width: 1200px) {
	/* For desktop: */
	.mainSection {
		margin-top: 48px;
	}
}

.dp {
	filter: invert(1);
	transition: 0.5s;
}
.dpContainer {
	height: 256px;
	width: 256px;
	border-radius: 100%;
	overflow: hidden;
}
.dp-anim {
	animation: tide 0.8s infinite linear;
}
@keyframes tide {
	from {
		margin-left: -85.3333px;
		margin-top: -85.3333px;
	}
	to{
		margin-left: 0px;
		margin-top: 0px;
	}   
}

.fas, .fab {
	font-size: 24px;
	transition: 0.3s;
}

.socialSection {
	display: flex;
	margin-top: -24px;
	justify-content: center;
}

.weblogSection {
	background-color: tomato;
	display: flex;
	font-family: Bangers;
	font-size: 100px;
	margin-top: 10px;
	justify-content: center;
	left: auto;
	bottom: auto;
	width: 100px;
	height: 60px;
	border-radius: 16px;
}

.socialSection>i {
	margin: 8px;
	font-size: 34px;
}

.charukola {
	font-family: 'Noto Sans Bengali', sans-serif;
}