body{
	background-color: #263238;
	font-family: Amatic SC;
	font-size: 64px;
	color: #ECEFF1;
	text-align: center;
	border: 2px solid #ECEFF1;
	margin-top: 128px;
}
p{
	font-size: 48px;
	font-family: Sue Ellen Francisco;
}